{% extends 'base.html' %}
{% block content %}
<div class="container">
    <h1>View Menu Details</h1>
    <hr>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    {% if menu %}
      {% for option in options %}
      <div class="row">
          <div class="col s12 md6 xl3">
            {{ option.description }}
          </div>
      </div>
      {% endfor %}

    {% else %}
      <div class="noproject-wrapper center">
        <h3 class="grey-text">There are no results.</h3>
      </div>
    {% endif %}
</div>
{% endblock %}